body {
    font-family: Arial, sans-serif;
    text-align: center;
    scrollbar-width: none;
    overflow-y: scroll;
    padding-bottom: 1em;
    background-color: white;
    color: black;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2a2a2a;
        color: white;
    }
}

#lecture-selection {
    margin-bottom: 20px;
}

#type-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 5px;
}

#questionsBox, #answersBox {
    max-width: 30em;
    align-items: center;
    margin: auto;
}

#questions, #answers {
    text-align: left;
}

footer#update {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 80%;
    text-align: right;
}

ul {
    list-style-type: none; /* Remove default bullets */
    margin: 0.5em 0;
    padding-left: 0;
    
}

li {
    position: relative;
    padding-left: 2em;
    margin-bottom: 0.5em;
}

ul li::before {
    content: "– ";
    position: absolute;
    left: 0;
}