body {
    font-family: Arial, sans-serif;
    text-align: center;
    scrollbar-width: none;
    overflow-y: scroll;
}

#lecture-selection {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin: 5px;
}

#questionsBox, #answersBox {
    max-width: 30em;
    align-items: center;
    margin: auto;
}

#questions, #answers {
    text-align: left;
}

#update {
    font-size: 80%;
    position: fixed;
    bottom: 10px; /* Distance from the bottom */
    right: 10px;  /* Distance from the right */
}

ul, li {
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none; /* Remove default bullets */
}

ul li::before {
    content: "– "; /* En dash with space */
    font-weight: bold; /* Optional: make it more visible */
}